[Desktop Entry]
Name=Plutonic
Comment=Suikalike game where you shoot planets in space
Exec=plutonic %F
Icon=io.github.mlm_games.plutonic
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
